# Node
**/node_modules/
**/dist/
**/.vite/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/venv/
.ipynb_checkpoints/

# DB
**/*.db
**/*.sqlite

# Environment/Secrets
**/.env
**/.env.local

# IDE
.vscode/
.idea/
.gemini/

# Archives & Temporary
*.zip
crime-intel-platform/crime-intel-platform/
